<a href="https://colab.research.google.com/github/goncaze/database/blob/main/SQLite_Python/select_database_livro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---
# <font color='ocean' align='center'>__SELECT com SQLite3__</font>
---

### Neste notebook iremos aprender mais a respeito da instrução SELECT e para isto usaremos um novo banco de dados denominado de livro_db.

Documentação: https://sqlite.org/lang_select.html

Documentação: https://docs.python.org/pt-br/3.12/library/sqlite3.html

In [1]:
import sqlite3


class Database:

    def __init__(self) -> None:
        self.conexao: sqlite3.Connection = None
        self.cursor: sqlite3.Cursor = None

    # -----------------------------------------------------------------------
    def executar_sql(self, sql: str, parametros: tuple = ()) -> sqlite3.Cursor:
        """
        Método que executa as instruções SQL
        Retorna um cursor com o resultado do banco de dados
        """
        # Cria uma conexão com o arquivo de banco de dados
        with sqlite3.connect("./livros_db.db", check_same_thread=True) as self.conexao:
            # Obter um cursor a partir da conexão
            self.cursor = self.conexao.cursor()
            # Executa a instrução sql com os parâmetros fornecidos
            self.cursor.execute(sql, parametros)
            # Confirma a alteração de estado do banco de dados
            self.conexao.commit()
        # Retorna o cursor contendo o resultado da execução sql/parâmetros
        return self.cursor

In [2]:
dbs = Database()

## <font color='ocean'>__CRIAR TABELAS__</font>

Documentação: https://www.sqlite.org/lang_createtable.html

### <font color='orange'>**Criar tabelas**</font>
+ Apenas execute o comando sql a seguir:

In [5]:
sql1 = """
    CREATE TABLE IF NOT EXISTS cliente (
        cod_cliente INTEGER PRIMARY KEY,
        nome TEXT,
        telefone1 TEXT,
        telefone2 TEXT,
        rua TEXT,
        bairro TEXT,
        cidade TEXT,
        estado TEXT,
        email TEXT
    );
"""

sql2 = """
    CREATE TABLE IF NOT EXISTS livro (
        cod_livro INTEGER PRIMARY KEY,
        cod_editora INTEGER,
        valor REAL,
        catgoria TEXT,
        titulo TEXT,
        nome_autor TEXT,
        ano_publicacao INTEGER,
        ISBN TEXT,
        FOREIGN KEY(cod_editora) REFERENCES editora(cod_editora)
    );
"""

sql3 = """
    CREATE TABLE IF NOT EXISTS estoque (
        cod_livro INTEGER PRIMARY KEY,
        qtde_estoque INTEGER,
        FOREIGN KEY(cod_livro) REFERENCES livro(cod_livro)
    );
"""

sql4 = """
    CREATE TABLE IF NOT EXISTS editora (
        cod_editora INTEGER PRIMARY KEY,
        telefone1 TEXT,
        telefone2 TEXT,
        nome TEXT,
        email TEXT,
        consultor_vendas TEXT
    );
"""

sql5 = """
    CREATE TABLE IF NOT EXISTS pedido (
        cod_pedido INTEGER PRIMARY KEY,
        cod_cliente INTEGER,
        Data date,
        valor_pedido REAL,
        FOREIGN KEY(cod_cliente) REFERENCES cliente(cod_cliente)
    );
"""

sql6 = """
    CREATE TABLE IF NOT EXISTS itens_pedido (
        cod_pedido INTEGER,
        cod_livro INTEGER,
        quantidade INTEGER,
        valor_unitario REAL,
        PRIMARY KEY (cod_livro, cod_pedido),
        FOREIGN KEY(cod_pedido) REFERENCES pedido(cod_pedido),
        FOREIGN KEY(cod_livro) REFERENCES livro(cod_livro)
    );
"""

lista_sql = [sql1, sql2, sql3, sql4, sql5, sql6]

for sql in lista_sql:
    dbs.executar_sql(sql)

## <font color='ocean'>__LISTAR TABELAS__</font>

In [6]:
sql = " SELECT name FROM sqlite_schema WHERE type='table' ORDER BY name"

for i in dbs.executar_sql(sql):
    print(i[0])

cliente
editora
estoque
itens_pedido
livro
pedido

In [7]:
sql = "SELECT sql FROM sqlite_schema WHERE name='cliente'"

for i in dbs.executar_sql(sql):
    print(i[0])

CREATE TABLE cliente (
    cod_cliente INTEGER PRIMARY KEY,
    nome TEXT,
    telefone1 TEXT,
    telefone2 TEXT,
    rua TEXT,
    bairro TEXT,
    cidade TEXT,
    estado TEXT,
    email TEXT
)

# <font color="ocean" align='center'>**ATIVIDADE DE PESQUISA E REALIZAÇÃO DE EXERCÍCIOS**</font>
# <font color="yellow" align='center'>**ATIVIDADE DE PESQUISA E REALIZAÇÃO DE EXERCÍCIOS**</font>
# <font color="blue" align='center'>**ATIVIDADE DE PESQUISA E REALIZAÇÃO DE EXERCÍCIOS**</font>

### <font color='orange'>**01) Quantos clientes a livraria tem cadastrados?**</font>

In [ ]:
### Solução aqui

### <font color='orange'>**02) Quantas editoras estão cadastradas?**</font>

In [ ]:
### Solução aqui

### <font color='orange'>**03) Quantos livros estão cadastrados?**</font>

In [ ]:
# Solução aqui

### <font color='orange'>**04) Quantos livros tem no estoque?**</font>

In [ ]:
# Solução aqui

### <font color='orange'>**05) Quantos pedidos foram realizados?**</font>

In [ ]:
# Solução aqui

### <font color='orange'>**06) Quantos livros foram vendidos?**</font>

In [ ]:
# Solução aqui

### <font color='orange'>**07) Qual é a quantidade por livro no estoque?**</font>

In [ ]:
# Solução aqui

### <font color='orange'>**08) Determine o número de livros que são da categoria "Ciência de Dados".**</font>

In [ ]:
# Solução aqui

### <font color='orange'>**09) Determine o número de livros que não são da categoria "Ciência de Dados".**</font>

In [ ]:
# Solução aqui

### <font color='orange'>**10) Determine o número de categorias de livros atualmente existente no banco de dados.**</font>

In [ ]:
# Solução aqui

### <font color='orange'>**11) Qual é o número de livros por categoria?**</font>

In [ ]:
# Solução aqui

### <font color='orange'>**12) Considere que a tabela itens_pedido armazene o valor de quantidade e de preço unitário de cada item pedido. Os cliente gastaram quanto em cada item pedido? Em outras palavras, qual é o valor total de cada item pedido?**</font>

In [ ]:
# Solução aqui

### <font color='orange'>**13) Agora que você encontrou o valor total de cada item_pedido, responda: qual é a soma total de todos esses valores?**</font>

In [ ]:
# Solução aqui

### <font color='orange'>**14) Quais livros são mais pedidos pelos clientes em ordem decrescente?**</font>

In [ ]:
# Solução aqui

### <font color='orange'>**15) Qual é a quantidade de livros por editora?**</font>

In [ ]:
# Solução aqui

### <font color='orange'>**16) Determine os títulos dos livros e a quantidade no estoque.**</font>

In [ ]:
# Solução aqui

### <font color='orange'>**17) Determine os nomes das editoras e a quantidade de livros no estoque.**</font>

In [ ]:
# Solução aqui

### <font color='orange'>**18) Determine os nomes dos livros mais pedidos pelos clientes. Coloque a quantidade em ordem decrescente.**</font>

In [ ]:
# Solução aqui

### <font color='orange'>**19) Determine quais são os livros de cada editora. Em outras palavras quais livros são de quais editoras?**</font>

In [ ]:
# Solução aqui