<a href="https://colab.research.google.com/github/goncaze/database/blob/main/SQLite_Python/select_database_livro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---
# <font color='ocean' align='center'>__SELECT com SQLite3 and Built-in Aggregate Functions__</font>
---

### Neste notebook iremos aprender mais a respeito da instrução SELECT e para isto usaremos um novo banco de dados denominado de livro_db.

* Documentação: https://sqlite.org/lang_select.html
* Documentação: https://sqlite.org/lang_aggfunc.html
* Documentação: https://docs.python.org/pt-br/3.12/library/sqlite3.html
<br><br>

In [ ]:
import sqlite3


class Database:

    def __init__(self) -> None:
        self.conexao: sqlite3.Connection = None
        self.cursor: sqlite3.Cursor = None

    # -----------------------------------------------------------------------
    def executar_sql(self, sql: str, parametros: tuple = ()) -> sqlite3.Cursor:
        """
        Método que executa as instruções SQL
        Retorna um cursor com o resultado do banco de dados
        """
        # Cria uma conexão com o arquivo de banco de dados
        with sqlite3.connect("./livros_db.db", check_same_thread=True) as self.conexao:
            # Obter um cursor a partir da conexão
            self.cursor = self.conexao.cursor()
            # Executa a instrução sql com os parâmetros fornecidos
            self.cursor.execute(sql, parametros)
            # Confirma a alteração de estado do banco de dados
            self.conexao.commit()
        # Retorna o cursor contendo o resultado da execução sql/parâmetros
        return self.cursor

In [ ]:
dbs = Database()

## <font color='ocean'>__CRIAR TABELAS__</font>

Documentação: https://www.sqlite.org/lang_createtable.html

### <font color='orange'>**Criar tabelas**</font>
+ Apenas execute o comando sql a seguir:

In [ ]:
sql1 = """
    CREATE TABLE IF NOT EXISTS cliente (
        cod_cliente INTEGER PRIMARY KEY,
        nome TEXT,
        telefone1 TEXT,
        telefone2 TEXT,
        rua TEXT,
        bairro TEXT,
        cidade TEXT,
        estado TEXT,
        email TEXT
    );
"""

sql2 = """
    CREATE TABLE IF NOT EXISTS livro (
        cod_livro INTEGER PRIMARY KEY,
        cod_editora INTEGER,
        valor REAL,
        catgoria TEXT,
        titulo TEXT,
        nome_autor TEXT,
        ano_publicacao INTEGER,
        ISBN TEXT,
        FOREIGN KEY(cod_editora) REFERENCES editora(cod_editora)
    );
"""

sql3 = """
    CREATE TABLE IF NOT EXISTS estoque (
        cod_livro INTEGER PRIMARY KEY,
        qtde_estoque INTEGER,
        FOREIGN KEY(cod_livro) REFERENCES livro(cod_livro)
    );
"""

sql4 = """
    CREATE TABLE IF NOT EXISTS editora (
        cod_editora INTEGER PRIMARY KEY,
        telefone1 TEXT,
        telefone2 TEXT,
        nome TEXT,
        email TEXT,
        consultor_vendas TEXT
    );
"""

sql5 = """
    CREATE TABLE IF NOT EXISTS pedido (
        cod_pedido INTEGER PRIMARY KEY,
        cod_cliente INTEGER,
        Data date,
        valor_pedido REAL,
        FOREIGN KEY(cod_cliente) REFERENCES cliente(cod_cliente)
    );
"""

sql6 = """
    CREATE TABLE IF NOT EXISTS itens_pedido (
        cod_pedido INTEGER,
        cod_livro INTEGER,
        quantidade INTEGER,
        valor_unitario REAL,
        PRIMARY KEY (cod_livro, cod_pedido),
        FOREIGN KEY(cod_pedido) REFERENCES pedido(cod_pedido),
        FOREIGN KEY(cod_livro) REFERENCES livro(cod_livro)
    );
"""

lista_sql = [sql1, sql2, sql3, sql4, sql5, sql6]

for sql in lista_sql:
    dbs.executar_sql(sql)

## <font color='ocean'>__LISTAR TABELAS__</font>

In [ ]:
sql = " SELECT name FROM sqlite_schema WHERE type='table' ORDER BY name"

for i in dbs.executar_sql(sql):
    print(i[0])

## <font color='ocean'>__INSERÇÃO DE DADOS GERADOS PELO CHATGPT__</font>

In [ ]:
sql1 = """
INSERT INTO cliente (nome, telefone1, telefone2, rua, bairro, cidade, estado, email) VALUES
('João Silva', '987654321', '912345678', 'Rua das Flores', 'Centro', 'São Paulo', 'SP', 'joao.silva@email.com'),
('Maria Santos', '987654322', '912345679', 'Av. Paulista', 'Bela Vista', 'São Paulo', 'SP', 'maria.santos@email.com'),
('Pedro Oliveira', '987654323', NULL, 'Rua A', 'Jardins', 'Rio de Janeiro', 'RJ', 'pedro.oliveira@email.com'),
('Lucas Almeida', '987654324', '912345680', 'Rua B', 'Copacabana', 'Rio de Janeiro', 'RJ', 'lucas.almeida@email.com'),
('Carla Souza', '987654325', '912345681', 'Rua C', 'Leblon', 'Rio de Janeiro', 'RJ', 'carla.souza@email.com'),
('Rafael Lima', '987654326', NULL, 'Rua D', 'Centro', 'Belo Horizonte', 'MG', 'rafael.lima@email.com'),
('Juliana Pereira', '987654327', '912345682', 'Rua E', 'Savassi', 'Belo Horizonte', 'MG', 'juliana.pereira@email.com'),
('Renato Costa', '987654328', '912345683', 'Rua F', 'Centro', 'Curitiba', 'PR', 'renato.costa@email.com'),
('Beatriz Barros', '987654329', '912345684', 'Rua G', 'Batel', 'Curitiba', 'PR', 'beatriz.barros@email.com'),
('Fernando Rocha', '987654330', '912345685', 'Rua H', 'Centro', 'Porto Alegre', 'RS', 'fernando.rocha@email.com'),
('Clara Fonseca', '987654331', '912345686', 'Rua I', 'Centro', 'São Paulo', 'SP', 'clara.fonseca@email.com'),
('Paulo Ribeiro', '987654332', '912345687', 'Rua J', 'Moema', 'São Paulo', 'SP', 'paulo.ribeiro@email.com'),
('Fernanda Moreira', '987654333', '912345688', 'Rua K', 'Vila Mariana', 'São Paulo', 'SP', 'fernanda.moreira@email.com'),
('Carlos Mendes', '989654321', '989123456', 'Rua dos Cajueiros', 'Cohatrac', 'São Luís', 'MA', 'carlos.mendes@email.com'),
('Ana Clara Sousa', '989654322', NULL, 'Rua dos Buritis', 'Calhau', 'São Luís', 'MA', 'ana.sousa@email.com'),
('José Lima', '989654323', '989123457', 'Avenida dos Holandeses', 'Ponta do Farol', 'São Luís', 'MA', 'jose.lima@email.com'),
('Fernanda Silva', '989654324', NULL, 'Rua Grande', 'Centro', 'São Luís', 'MA', 'fernanda.silva@email.com'),
('Ricardo Costa', '989654325', '989123458', 'Avenida Getúlio Vargas', 'Monte Castelo', 'São Luís', 'MA', 'ricardo.costa@email.com'),
('Raimundo Rocha', '989654326', '989123459', 'Rua do Passeio', 'Centro', 'Caxias', 'MA', 'raimundo.rocha@email.com'),
('Juliana Oliveira', '989654327', NULL, 'Rua das Flores', 'Centro', 'Imperatriz', 'MA', 'juliana.oliveira@email.com'),
('Marcos Andrade', '989654328', '989123460', 'Rua do Comércio', 'Bacuri', 'Imperatriz', 'MA', 'marcos.andrade@email.com'),
('Patrícia Farias', '989654329', '989123461', 'Rua do Sol', 'Centro', 'Timon', 'MA', 'patricia.farias@email.com'),
('Daniela Sousa', '989654330', NULL, 'Avenida Santos Dumont', 'Vila Lobão', 'Timon', 'MA', 'daniela.sousa@email.com');
"""

# dbs.executar_sql(sql1)

sql2 = """
  INSERT INTO editora (cod_editora, telefone1, telefone2, nome, email, consultor_vendas) VALUES
  (1, '987655432', '912346789', 'Editora Abril', 'contato@editoraabril.com', 'Fernanda Lima'),
  (2, '987655433', '987655433', 'Editora Globo', 'contato@editoraglobo.com', 'Carlos Souza'),
  (3, '987655434', '912346780', 'Editora Moderna', 'contato@editoramoderna.com', 'Paula Mendes'),
  (4, '987655435', '912346781', 'Editora Saraiva', 'contato@saraiva.com', 'Marcos Silva'),
  (5, '987655436', '912346782', 'Editora Atlas', 'contato@editoraatlas.com', 'Luciana Costa'),
  (6, '987655437', '912346783', 'Editora FGV', 'contato@fgv.com', 'Fábio Almeida'),
  (7, '987655438', '987655438', 'Editora Senac', 'contato@senac.com', 'Carla Menezes'),
  (8, '987655439', '912346784', 'Editora Blucher', 'contato@blucher.com', 'Rafael Dias'),
  (9, '987655440', '912346785', 'Editora Loyola', 'contato@loyola.com', 'Amanda Santos'),
  (10, '987655441', '912346786', 'Editora Nobel', 'contato@nobel.com', 'Eduardo Pereira'),
  (11, '987655442', '912346787', 'Editora Juspodivm', 'contato@juspodivm.com', 'Thiago Castro'),
  (12, '987655443', '912346788', 'Editora Zahar', 'contato@editorazahar.com', 'Mariana Lopes'),
  (13, '987655444', '912346789', 'Editora Contexto', 'contato@editoracontexto.com', 'Rodrigo Tavares');
"""

# dbs.executar_sql(sql2)

sql3 = """
  INSERT INTO livro (cod_livro, cod_editora, valor, catgoria, titulo, nome_autor, ano_publicacao, ISBN) VALUES
  (1, 1, 29.90, 'Ficção', 'A Jornada', 'Ana Costa', 2020, '978-3-16-148410-0'),
  (2, 2, 39.90, 'Romance', 'Amor em Tempos Modernos', 'Carlos Ribeiro', 2021, '978-1-86197-876-9'),
  (3, 3, 49.90, 'Ciência', 'O Universo', 'Maria Pereira', 2019, '978-0-545-01022-1'),
  (4, 4, 19.90, 'Biografia', 'Minha História', 'Paulo Moreira', 2022, '978-3-598-21500-1'),
  (5, 5, 59.90, 'Autoajuda', 'Pense Positivo', 'Fernando Santos', 2018, '978-3-16-148411-7'),
  (6, 6, 45.00, 'Negócios', 'Empreenda!', 'Lucas Neves', 2021, '978-1-4028-9462-6'),
  (7, 7, 34.90, 'História', 'A Segunda Guerra Mundial', 'Júlia Barros', 2020, '978-1-56619-909-4'),
  (8, 8, 24.90, 'Geografia', 'Geografia Global', 'Leonardo Souza', 2019, '978-0-393-97322-4'),
  (9, 9, 55.00, 'Tecnologia', 'Inteligência Artificial', 'Rodrigo Silva', 2022, '978-0-8047-3420-2'),
  (10, 10, 22.50, 'Educação', 'Aprender a Aprender', 'Rosa Mello', 2020, '978-0-06-093546-7'),
  (11, 1, 27.50, 'Autoajuda', 'O Poder da Mente', 'Sandra Alves', 2017, '978-3-16-148412-4'),
  (12, 2, 42.90, 'Filosofia', 'Pensamentos que Transformam', 'Leandro Guedes', 2022, '978-1-84356-028-3'),
  (13, 3, 29.00, 'História', 'Guerras Mundiais', 'Luiza Castro', 2020, '978-0-7356-6745-2'),
  (14, 2, 39.90, 'Romance', 'O Mistério do Tempo', 'Carla Freitas', 2019, '978-0-394-52372-5'),
  (15, 1, 45.50, 'Ciência', 'Explorando o Universo', 'João Paes', 2021, '978-0-451-52810-4'),
  (16, 3, 25.00, 'História', 'O Antigo Egito', 'Fernanda Cardoso', 2018, '978-0-330-48448-9'),
  (17, 4, 55.70, 'Psicologia', 'Entendendo a Mente Humana', 'Maria Lopes', 2022, '978-1-250-08400-3'),
  (18, 2, 32.90, 'Autoajuda', 'Caminho para a Felicidade', 'Carlos Souza', 2020, '978-0-307-59428-2'),
  (19, 5, 29.90, 'Tecnologia', 'Inteligência Artificial', 'Rafael Lima', 2023, '978-0-099-95902-2'),
  (20, 3, 42.00, 'Negócios', 'Estratégias de Sucesso', 'Patrícia Azevedo', 2017, '978-1-4391-2821-4'),
  (21, 1, 38.50, 'Filosofia', 'Pensamentos sobre a Vida', 'Luiz Silva', 2021, '978-1-4767-5800-7'),
  (22, 2, 40.75, 'Saúde', 'Nutrição e Bem-Estar', 'André Martins', 2019, '978-0-06-231610-3'),
  (23, 4, 50.90, 'Biografia', 'A Jornada de um Cientista', 'Bruno Costa', 2022, '978-0-385-74357-9');
"""

# dbs.executar_sql(sql3)


sql4 = """
INSERT INTO estoque (cod_livro, qtde_estoque) VALUES
(1, 15), (2, 10), (3, 5), (4, 20), (5, 8), (6, 12), (7, 18), (8, 22), (9, 14), (10, 25),
(11, 20), (12, 25), (13, 18), (14, 10), (15, 15), (16, 8), (17, 7), (18, 18), (19, 4), (20, 5), (21, 8),
(22, 7), (23, 1);
"""

# dbs.executar_sql(sql4)

sql5 = """
INSERT INTO pedido (cod_pedido, cod_cliente, Data, valor_pedido) VALUES
(1, 1, '2024-11-01', 59.80),
(2, 2, '2024-11-02', 29.90),
(3, 3, '2024-11-03', 49.90),
(4, 4, '2024-11-04', 19.90),
(5, 5, '2024-11-05', 89.90),
(6, 6, '2024-11-06', 34.90),
(7, 7, '2024-11-07', 24.90),
(8, 8, '2024-11-08', 99.90),
(9, 9, '2024-11-09', 119.90),
(10, 10, '2024-11-10', 55.50),
(11, 1, '2024-11-11', 85.00),
(12, 3, '2024-11-12', 60.50),
(13, 5, '2024-11-13', 95.70),
(14, 1, '2024-11-14', 85.70),
(15, 3, '2024-11-15', 120.45),
(16, 5, '2024-11-16', 54.90),
(17, 7, '2024-11-17', 100.50),
(18, 9, '2024-11-18', 89.75),
(19, 2, '2024-11-19', 65.30),
(20, 4, '2024-11-20', 150.20),
(21, 6, '2024-11-21', 73.15),
(22, 8, '2024-11-22', 132.90),
(23, 10, '2024-11-23', 90.80);
"""

# dbs.executar_sql(sql5)

sql6 = """
  INSERT INTO itens_pedido (cod_pedido, cod_livro, quantidade, valor_unitario) VALUES
  (1, 1, 1, 29.90), (1, 2, 1, 29.90), (2, 3, 1, 29.90),
  (3, 4, 2, 19.90), (4, 5, 1, 59.90), (5, 6, 1, 45.00),
  (5, 7, 1, 34.90), (6, 8, 1, 24.90), (7, 9, 1, 55.00),
  (7, 10, 1, 22.50), (8, 1, 1, 29.90), (8, 3, 1, 49.90),
  (8, 5, 1, 59.90),  (11, 11, 1, 27.50), (11, 12, 1, 42.90),
  (12, 13, 1, 29.00), (12, 1, 1, 29.90), (13, 5, 1, 59.90),
  (13, 6, 1, 45.00), (21, 1, '2024-11-14', 85.70),
  (22, 3, '2024-11-15', 120.45),
  (23, 5, '2024-11-16', 54.90),
  (14, 7, '2024-11-17', 100.50),
  (15, 9, '2024-11-18', 89.75),
  (16, 2, '2024-11-19', 65.30),
  (17, 4, '2024-11-20', 150.20),
  (18, 6, '2024-11-21', 73.15),
  (19, 8, '2024-11-22', 132.90),
  (10, 10, '2024-11-23', 90.80);

"""

# dbs.executar_sql(sql6)

lista_sql = [sql1, sql2, sql3, sql4, sql5, sql6]

for sql in lista_sql:
    dbs.executar_sql(sql)

### <font color='orange'>**ALGUNS SELECTS PARA CONFIRMAR A INSERÇÃO DE DADOS**</font>

In [ ]:
sql = "SELECT * FROM cliente;"

print("ID\t NOME")
for i in dbs.executar_sql(sql):
    print(f"{i[0]}\t {i[1]}")

In [ ]:
sql = "SELECT * FROM editora;"

print("ID\t NOME")
for i in dbs.executar_sql(sql):
    print(f"{i[0]}\t {i[3]}")

In [ ]:
sql = "SELECT * FROM livro;"

print("ID\t NOME")
for i in dbs.executar_sql(sql):
    print(f"{i[0]}\t {i[4]}")

In [ ]:
sql = "SELECT sql FROM sqlite_schema WHERE name='cliente'"

for i in dbs.executar_sql(sql):
    print(i[0])

# <font color="ocean" align='center'>**ATIVIDADE DE PESQUISA E REALIZAÇÃO DE EXERCÍCIOS**</font>
# <font color="yellow" align='center'>**ATIVIDADE DE PESQUISA E REALIZAÇÃO DE EXERCÍCIOS**</font>
# <font color="blue" align='center'>**ATIVIDADE DE PESQUISA E REALIZAÇÃO DE EXERCÍCIOS**</font>

### <font color='orange'>**01) Quantos clientes a livraria tem cadastrados?**</font>

In [ ]:
### Solução aqui

### <font color='orange'>**02) Quantas editoras estão cadastradas?**</font>

In [ ]:
### Solução aqui

### <font color='orange'>**03) Quantos livros estão cadastrados?**</font>

In [ ]:
# Solução aqui

### <font color='orange'>**04) Quantos livros tem no estoque?**</font>

In [ ]:
# Solução aqui

### <font color='orange'>**05) Quantos pedidos foram realizados?**</font>

In [ ]:
# Solução aqui

### <font color='orange'>**06) Quantos livros foram vendidos?**</font>

In [ ]:
# Solução aqui

### <font color='orange'>**07) Qual é a quantidade por livro no estoque?**</font>

In [ ]:
# Solução aqui

### <font color='orange'>**08) Determine o número de livros que são da categoria "Ciência de Dados".**</font>

In [ ]:
# Solução aqui

### <font color='orange'>**09) Determine o número de livros que não são da categoria "Ciência de Dados".**</font>

In [ ]:
# Solução aqui

### <font color='orange'>**10) Determine o número de categorias de livros atualmente existente no banco de dados.**</font>

In [ ]:
# Solução aqui

### <font color='orange'>**11) Qual é o número de livros por categoria?**</font>

In [ ]:
# Solução aqui

### <font color='orange'>**12) Considere que a tabela itens_pedido armazene o valor de quantidade e de preço unitário de cada item pedido. Os cliente gastaram quanto em cada item pedido? Em outras palavras, qual é o valor total de cada item pedido?**</font>

In [ ]:
# Solução aqui

### <font color='orange'>**13) Agora que você encontrou o valor total de cada item_pedido, responda: qual é a soma total de todos esses valores?**</font>

In [ ]:
# Solução aqui

### <font color='orange'>**14) Quais livros são mais pedidos pelos clientes em ordem decrescente?**</font>

In [ ]:
# Solução aqui

### <font color='orange'>**15) Qual é a quantidade de livros por editora?**</font>

In [ ]:
# Solução aqui

### <font color='orange'>**16) Determine os títulos dos livros e a quantidade no estoque.**</font>

In [ ]:
# Solução aqui

### <font color='orange'>**17) Determine os nomes das editoras e a quantidade de livros no estoque.**</font>

In [ ]:
# Solução aqui

### <font color='orange'>**18) Determine os nomes dos livros mais pedidos pelos clientes. Coloque a quantidade em ordem decrescente.**</font>

In [ ]:
# Solução aqui

### <font color='orange'>**19) Determine quais são os livros de cada editora. Em outras palavras quais livros são de quais editoras?**</font>

In [ ]:
# Solução aqui