<a href="https://colab.research.google.com/github/goncaze/database/blob/main/SQLite_Python/SQLite_AlterTable.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <font color='ocean'>__Módulo Python para trabalhar com SQLite3__</font>

SQLite é uma biblioteca C que fornece um banco de dados leve baseado em disco que não requer um processo de servidor separado e permite acessar o banco de dados usando uma variante não padrão da linguagem de consulta SQL. Algumas aplicações podem usar SQLite para armazenamento interno de dados. Também é possível prototipar um aplicativo usando SQLite e, em seguida, portar o código para um banco de dados maior, como PostgreSQL ou Oracle.

Documentação: https://docs.python.org/pt-br/3.12/library/sqlite3.html

In [ ]:
import sqlite3


class Database:

    def __init__(self) -> None:
        self.conexao: sqlite3.Connection = None
        self.cursor: sqlite3.Cursor = None

    # -----------------------------------------------------------------------
    def executar_sql(self, sql: str, parametros: tuple = ()) -> sqlite3.Cursor:
        """
        Método que executa as instruções SQL
        Retorna um cursor com o resultado do banco de dados
        """
        # Cria uma conexão com o arquivo de banco de dados
        with sqlite3.connect("./meu_database.db", check_same_thread=True) as self.conexao:
            # Obter um cursor a partir da conexão
            self.cursor = self.conexao.cursor()
            # Executa a instrução sql com os parâmetros fornecidos
            self.cursor.execute(sql, parametros)
            # Confirma a alteração de estado do banco de dados
            self.conexao.commit()
        # Retorna o cursor contendo o resultado da execução sql/parâmetros
        return self.cursor

In [ ]:
dbs = Database()

## <font color='ocean'>__CRIAR TABELAS__</font>

Documentação: https://www.sqlite.org/lang_createtable.html

### <font color='orange'>**Criar tabelas**</font>
+ Apenas execute o comando sql a seguir:

In [ ]:
sql1 = """
    CREATE TABLE IF NOT EXISTS data_categoria (
        id INTEGER PRIMARY KEY,
        descricao TEXT,
        categoria TEXT UNIQUE
    );
"""

sql2 = """
    CREATE TABLE IF NOT EXISTS data (
        id INTEGER PRIMARY KEY,
        data TEXT UNIQUE,
        data_categoria_id INTEGER,
        FOREIGN KEY(data_categoria_id) REFERENCES data_categoria(id)
    );
"""

sql3 = """
CREATE TABLE IF NOT EXISTS evento_categoria (
    id INTEGER PRIMARY KEY,
    categoria TEXT UNIQUE,
    descricao TEXT
);
"""

sql4 = """
    CREATE TABLE IF NOT EXISTS evento (
        id INTEGER PRIMARY KEY,
        descricao TEXT,
        evento TEXT,
        evento_categoria_id TEXT,
        FOREIGN KEY(evento_categoria_id) REFERENCES evento_categoria(id)
    );
"""

sql5 = """
    CREATE TABLE IF NOT EXISTS evento_data (
        data_id INTEGER,
        evento_id INTEGER,
        PRIMARY KEY(data_id, evento_id),
        FOREIGN KEY (data_id) REFERENCES data(id),
        FOREIGN KEY (evento_id) REFERENCES evento(id)
    );
"""

lista_sql = [sql1, sql2, sql3, sql4, sql5]

for sql in lista_sql:
    dbs.executar_sql(sql)

## <font color='ocean'>__ALTERAÇÃO DE TABELAS__</font>

Com o comando ALTER TABLE podemos realizar as seguintes alterações em uma tabela:

* Renomear a tabela;
* Renomear uma coluna;
* Adicionar uma nova coluna;
* Excluir uma coluna;


Documentação: https://www.sqlite.org/lang_altertable.html

### <font color='orange'>**Renomear a tabela data_categoria**</font>

In [ ]:
sql = """
    ALTER TABLE
        data_categoria
    RENAME TO
        data_categoria_2
"""

dbs.executar_sql(sql)

In [ ]:
sql = " SELECT name FROM sqlite_schema WHERE type='table' ORDER BY name"

for i in dbs.executar_sql(sql):
    print(i[0])

### <font color='orange'>**Renomear uma coluna da tabela data_categoria_2**</font>

In [ ]:
sql = """
    ALTER TABLE
        data_categoria_2
    RENAME COLUMN
        descricao
    TO
        comentario
"""

dbs.executar_sql(sql)

In [ ]:
sql = "SELECT sql FROM sqlite_schema WHERE name='data_categoria_2'"

for i in dbs.executar_sql(sql):
    print(i[0])

### <font color='orange'>**Adicionar uma coluna na tabela data_categoria_2**</font>

In [ ]:
sql = """
    ALTER TABLE
        data_categoria_2
    ADD COLUMN
        numero REAL
"""

dbs.executar_sql(sql)

In [ ]:
sql = "SELECT sql FROM sqlite_schema WHERE name='data_categoria_2'"

for i in dbs.executar_sql(sql):
    print(i[0])

### <font color='orange'>**Excluir uma coluna na tabela data_categoria_2**</font>

In [ ]:
sql = """
    ALTER TABLE
        data_categoria_2
    DROP COLUMN
        comentario
"""

dbs.executar_sql(sql)

In [ ]:
sql = "SELECT sql FROM sqlite_schema WHERE name='data_categoria_2'"

for i in dbs.executar_sql(sql):
    print(i[0])

# <font color="ocean" align='center'>**ATIVIDADE DE PESQUISA E REALIZAÇÃO DE EXERCÍCIOS**</font>
# <font color="yellow" align='center'>**ATIVIDADE DE PESQUISA E REALIZAÇÃO DE EXERCÍCIOS**</font>
# <font color="blue" align='center'>**ATIVIDADE DE PESQUISA E REALIZAÇÃO DE EXERCÍCIOS**</font>

## <font color='ocean'>__Excluir tabelas__</font>

Documentação: https://www.sqlite.org/lang_droptable.html

### <font color='orange'>**Exclusão de todas as tabelas do banco de dados meu_database.db**</font>

* Excluir tabela evento_categoria
* Excluir tabela data_categoria
* Excluir tabela evento
* Excluir tabela data
* Excluir tabela evento_data

In [ ]:
# Excluir tabela evento_data

In [ ]:
# Excluir tabela evento_categoria

In [ ]:
#Excluir tabela evento

In [ ]:
# Excluir tabela data_categoria

In [ ]:
# Excluir tabela data

## <font color='ocean'>__Recriar tabelas__</font>

Documentação: https://www.sqlite.org/lang_createtable.html

### <font color='orange'>**Crie as novas tabelas sugeridas**</font>

* Apenas execute o comando sql a seguir:

In [ ]:
sql1 = """
    CREATE TABLE IF NOT EXISTS data_categoria (
        id INTEGER PRIMARY KEY,
        descricao2 TEXT,
        categoria2 TEXT UNIQUE
    );
"""

sql2 = """
    CREATE TABLE IF NOT EXISTS data (
        id INTEGER PRIMARY KEY,
        data3 TEXT UNIQUE,
        data_categoria_id INTEGER,
        FOREIGN KEY(data_categoria_id) REFERENCES data_categoria(id)
    );
"""

sql3 = """
CREATE TABLE IF NOT EXISTS evento_categoria (
    id INTEGER PRIMARY KEY,
    categoria4 TEXT UNIQUE,
    descricao4 TEXT
);
"""

sql4 = """
    CREATE TABLE IF NOT EXISTS evento (
        id INTEGER PRIMARY KEY,
        descricao5 TEXT,
        evento5 TEXT,
        evento_categoria_id TEXT,
        FOREIGN KEY(evento_categoria_id) REFERENCES evento_categoria(id)
    );
"""

sql5 = """
    CREATE TABLE IF NOT EXISTS evento_data6 (
        data_id INTEGER,
        evento_id INTEGER,
        PRIMARY KEY(data_id, evento_id),
        FOREIGN KEY (data_id) REFERENCES data(id),
        FOREIGN KEY (evento_id) REFERENCES evento(id)
    );
"""

lista_sql = [sql1, sql2, sql3, sql4, sql5]

for sql in lista_sql:
    dbs.executar_sql(sql)

## <font color='ocean'>__ALTERAÇÃO DO NOME DE TABELA__</font>

**ATENÇÃO:** descubra qual tabela recebeu um número em seu nome. Você deve renomear essa tabela de forma que não tenha mais esse número em seu nome.


Documentação: https://www.sqlite.org/lang_altertable.html

### <font color='orange'>**Renomear a tabela com número em seu nome**</font>

## <font color='ocean'>__ALTERAÇÃO DO NOME DE COLUNAS__</font>

**ATENÇÃO:** descubra quais tabelas tiveram colunas que receberam um número em seu nome. Você deve renomear essas colunas de forma que não tenham mais esse número em seu nome.


Documentação: https://www.sqlite.org/lang_altertable.html

### <font color='orange'>**Renomear nome de __*TODAS*__ as colunas com número em seu nome**</font>