<a href="https://colab.research.google.com/github/goncaze/database/blob/main/SQLite_Python/SQLite_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <font color='ocean'>__Módulo Python para trabalhar com SQLite3__</font>

SQLite é uma biblioteca C que fornece um banco de dados leve baseado em disco que não requer um processo de servidor separado e permite acessar o banco de dados usando uma variante não padrão da linguagem de consulta SQL. Algumas aplicações podem usar SQLite para armazenamento interno de dados. Também é possível prototipar um aplicativo usando SQLite e, em seguida, portar o código para um banco de dados maior, como PostgreSQL ou Oracle.

Documentação: https://docs.python.org/pt-br/3.12/library/sqlite3.html

In [ ]:
import sqlite3


class Database:

    def __init__(self) -> None:
        self.conexao: sqlite3.Connection = None
        self.cursor: sqlite3.Cursor = None

    # -----------------------------------------------------------------------
    def executar_sql(self, sql: str, parametros: tuple = ()) -> sqlite3.Cursor:
        """
        Método que executa as instruções SQL
        Retorna um cursor com o resultado do banco de dados
        """
        # Cria uma conexão com o arquivo de banco de dados
        with sqlite3.connect("./meu_database.db", check_same_thread=True) as self.conexao:
            # Obter um cursor a partir da conexão
            self.cursor = self.conexao.cursor()
            # Executa a instrução sql com os parâmetros fornecidos
            self.cursor.execute(sql, parametros)
            # Confirma a alteração de estado do banco de dados
            self.conexao.commit()
        # Retorna o cursor contendo o resultado da execução sql/parâmetros
        return self.cursor

In [ ]:
dbs = Database()

## <font color='ocean'>__CRIAR TABELAS__</font>

Documentação: https://www.sqlite.org/lang_createtable.html

### <font color='orange'>**Criar tabela data_categoria**</font>

In [ ]:
sql = """
    CREATE TABLE data_categoria (
        id INTEGER PRIMARY KEY,
        descricao TEXT,
        categoria TEXT UNIQUE
    );
"""

dbs.executar_sql(sql)

### <font color='orange'>**Criar tabela data**</font>

In [ ]:
sql = """
    CREATE TABLE IF NOT EXISTS data (
        id INTEGER PRIMARY KEY,
        data TEXT UNIQUE,
        data_categoria_id INTEGER,
        FOREIGN KEY(data_categoria_id) REFERENCES data_categoria(id)
    );
"""

dbs.executar_sql(sql)

### <font color='orange'>**Criar tabela evento_categoria**</font>

In [ ]:
sql = """
CREATE TABLE IF NOT EXISTS evento_categoria (
    id INTEGER PRIMARY KEY,
    categoria TEXT UNIQUE,
    descricao TEXT
);
"""

dbs.executar_sql(sql)

### <font color='orange'>**Criar tabela evento**</font>

In [ ]:
sql = """
    CREATE TABLE evento (
        id INTEGER PRIMARY KEY,
        descricao TEXT,
        evento TEXT,
        evento_categoria_id TEXT,
        FOREIGN KEY(evento_categoria_id) REFERENCES evento_categoria(id)
    );
"""

dbs.executar_sql(sql)

### <font color='orange'>**Criar tabela evento_data**</font>

In [ ]:
sql = """
    CREATE TABLE evento_data (
        data_id INTEGER,
        evento_id INTEGER,
        PRIMARY KEY(data_id, evento_id),
        FOREIGN KEY (data_id) REFERENCES data(id),
        FOREIGN KEY (evento_id) REFERENCES evento(id)
    );
"""

dbs.executar_sql(sql)

## <font color='ocean'>__LISTAGEM E ESQUEMAS DE TABELAS__</font>

Documentação: https://sqlite.org/schematab.html

### <font color='orange'>**Listar nomes das tabelas**</font>

In [ ]:
sql = """
    SELECT
        name
    FROM
        sqlite_schema
    WHERE
        type='table'
    ORDER BY
        name;
"""

for i in dbs.executar_sql(sql):
    print(i[0])

### <font color='orange'>**Mostrar esquema de tabela**</font>

In [ ]:
sql = """
    SELECT
        sql
    FROM
        sqlite_schema
    WHERE
        name='data'
"""

for i in dbs.executar_sql(sql):
    print(i[0])

## <font color='ocean'>__EXCLUSÃO DE TABELAS__</font>

Documentação: https://www.sqlite.org/lang_droptable.html

### <font color='orange'>**Excluir tabela data**</font>

In [ ]:
sql = """
    DROP TABLE IF EXISTS data;
"""

for i in dbs.executar_sql(sql):
    print(i[0])

# <font color="ocean" align='center'>**ATIVIDADE DE PESQUISA E REALIZAÇÃO DE EXERCÍCIOS**</font>
# <font color="yellow" align='center'>**ATIVIDADE DE PESQUISA E REALIZAÇÃO DE EXERCÍCIOS**</font>
# <font color="blue" align='center'>**ATIVIDADE DE PESQUISA E REALIZAÇÃO DE EXERCÍCIOS**</font>

## <font color='ocean'>__INSERT - Inserção de registros em uma tabela__</font>

Documentação:

### <font color='orange'>**Inserir registros em todas as tabelas do banco de dados**</font>

* 5 registros em evento_categoria
* 5 registros em data_categoria
* 5 registros em evento
* 15 registros em data
* 15 registros em data_evento

In [ ]:
# 5 registros em evento_categoria

In [ ]:
# 5 registros em data_categoria

In [ ]:
#5 registros em evento

In [ ]:
# 15 registros em data

In [ ]:
# 15 registros em data_evento

## <font color='ocean'>__SELECT - Seleção de registros de uma tabela__</font>

Documentação:

### <font color='orange'>**Selecionar registro de uma tabela**</font>

* Execute uma instrução de select para todas as tabelas

In [ ]:
# Selecionar registros de data:

In [ ]:
# Selecionar registros de evento:

In [ ]:
# Selecionar registros de data_categoria:

In [ ]:
# Selecionar registros de evento_categoria:

## <font color='ocean'>__UPDATE - Atualização de registros de uma tabela__</font>

Documentação:

### <font color='orange'>**Atualizar algum registro das tabelas**</font>

In [ ]:
# Atualizar registros de data:

In [ ]:
# Atualizar registros de evento:

In [ ]:
# Atualizar registros de data_categoria:

In [ ]:
# Atualizar registros de evento_categoria:

## <font color='ocean'>__DELETE - Deletar registros das tabelas__</font>

Documentação:

### <font color='orange'>**Deletar algum registro das tabelas**</font>

In [ ]:
# Deletar registro de data:

In [ ]:
# Deletar registro de evento:

In [ ]:
# Deletar registro de data_categoria:

In [ ]:
# Deletar registro de evento_categoria: